body{
    background-color: blue;
    color: blue;
}
/* ---- debug ---- */
/* .container, .row, div[class*="col"]{
    border: 1px solid black;
} */
/* ---- debug ---- */
.container{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}
.buttonContainer{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttonContainer button{
    margin: 0 20px;
}
h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;

}
.col{
    text-align: center;
    height: 80px;
}
#displayToggle{
    visibility: hidden;
    
}
.brdbottom{
    border-bottom: 1px solid black;
}
.brdtop{
    border-top: 1px solid black;
}